<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

</head>

<body>

        <html>
                <body>
                  <form action="/login" method="post">
                    <div>
                      <label for="username">UserName:</label>
                      <input type="text" name="username" />
                      <br/>
                    </div>
                    <div>
                      <label for="password">Password:</label>
                      <input type="password" name="password" />
                    </div>
                    <div>
                      <input type="submit" value="Submit" />
                    </div>
                  </form>
                </body>
              </html>


</body>

</html>